.pic-preview{
    width:50%;
    display:block;
    border-radius:50%;
    margin-left:auto;
    margin-right:auto;
    background-position:center;
    background-size:cover;
}

.pic-preview:after{
    content:"";
    padding-top:100%;
    display:block
}
